{% extends 'base.html' %}

{% block title %}تماس با مدرسه{% endblock title %}

{% block container %}
            <div class="contactus">
                <div class="article_header">
                    <h2>تماس با مدرسه</h2>
                </div>
                <div class="article_text">
                    <p>تلفن مدرسه : 385000000<br>
                    آدرس مدرسه : خیابان ... کوچه ... پلاک ۲۰<br>
                    </p>
                </div>
            </div>
{% endblock container %}